@media only screen and (max-width: 1220px) {
  html, body {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
  }

  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 20px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  .pb-130 {
    padding-bottom: 40px;
  }
  h3 {
    font-size: 18px;
  }
  .default-btn {
    font-size: 15px;
    padding: 10px 20px;
  }
  .default-btn.active {
    margin-left: 0;
  }
  .top-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
  }
  .section-title {
    margin-bottom: 10px;
  }
  .section-title h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .header-area .top-header-area .header-content-left {
    margin-bottom: 20px;
  }
  .header-area .top-header-area .header-content-left li {
    margin-bottom: 10px;
  }
  .header-area .top-header-area .header-content-left li:last-child {
    margin-bottom: 0;
  }
  .header-area .top-header-area .header-content-right {
    float: unset;
  }
  .header-area .top-header-area .header-content-right li .option-item {
    display: none;
  }
  .main-banner-area {
    height: 100%;
    text-align: center;
  }
  .main-banner-area .slide {
    height: unset;
  }

  .banner-img-wrap {
    display: none;
  }

  .banner-img-wrap .banner-img {
    max-width: 350px;
    position: unset;
    margin: 30px auto 0;
  }
  .banner-img-wrap .banner-shape {
    right: 0;
    top: 0;
    left: 0;
    max-width: 100%;
    max-width: 350px;
    margin: auto;
  }
  .first-facility-area {
    position: relative;
    max-width: 100%;
    width: auto;
    padding: 20px;
    padding-top: 50px;
    z-index: 1;
  }
  .first-facility-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    width: 200px;
    height: 100%;
    background-color: #d6fbfd;
    z-index: -1;
  }
  .first-facility-area::after {
    content: "";
    position: absolute;
    top: 0;
    right: -150px;
    width: 200px;
    height: 100%;
    background-color: #d6fbfd;
    z-index: -1;
  }
  .first-facility-area .first-facility-item {
    padding-left: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  .first-facility-area .first-facility-item i {
    position: unset;
    margin-bottom: 15px;
  }
  .first-facility-area .shape {
    display: none;
  }
  .area-especialidades {
    padding: 22px 0;
    height: calc(100% - 71px);
    min-height: 574px;
  }
  .area-especialidades .col-sm-6 {
    margin: auto 0 0;
    max-width: 50%;
    height: 217px;
  }
  .area-especialidades .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .area-especialidades .container .section-title {
    margin-top: 0;
    margin-bottom: 0;
  }
  .area-especialidades .container .section-title h2 {
    font-size: 25px;
    margin-bottom: auto;
  }
  .area-especialidades .container .section-title p {
    font-size: 18px;
  }
  .area-especialidades .container .row {
    margin: auto;
    height: 100%;
  }
  .second-facility-item {
    padding: 12px;
    margin: auto;
    height: 217px;
  }
  .second-facility-item img {
    height: 60px;
    width: 60px;
    margin-bottom: 13px;
  }
  .second-facility-item h3 {
    font-size: 11px;
  }
  .second-facility-item ul {
    font-size: 9px;
    margin-bottom: 0;
  }
  .second-facility-item ul li {
    margin: initial !important;
  }
  .area-caracteristicas {
    height: calc(100% - 71px);
    min-height: 651px;
    background-image: url(../../assets/img/home-one/fondo-caracteristicas-2.png);
    background-position: 50% 50%;
  }
  .area-caracteristicas .container {
    display: flex;
    max-width: 100%;
    height: 100%;
  }
  .area-caracteristicas .text-wrap {
    float: unset !important;
    width: 50%;
    padding: 0 5px;
    height: 100%;
  }
  .area-caracteristicas .container .titulo {
    font-size: 21px;
    margin: 0;
    line-height: 1.2;
    margin-bottom: 4px;
  }
  .area-caracteristicas .container .subtitulo {
    font-size: 12px;
    margin: 0;
  }
  .area-caracteristicas .text-wrap .caracteristicas {
    margin: 0;
  }
  .area-caracteristicas .text-wrap .caracteristicas .linea-blanca {
    height: unset !important;
  }
  .area-contador {
    margin-top: 0;
    height: calc(100% - 71px);
    min-height: 439px;
    padding: 33px 0;
  }
  .area-contador .container {
    height: 100%;
  }
  .area-contador .container .row {
    height: 100%;
    align-content: space-between;
  }
  .area-contador .col-sm-6 {
    width: 50%;
    display: flex;
  }
  .area-contador .contador {
    width: 140px;
    height: 140px;
    padding: 48px 15px;
    margin: auto;
  }
  .area-contador .contador h2 {
    font-size: 22px;
    margin-bottom: 0;
  }
  .area-contador .contador p {
    font-size: 13px;
  }
  .area-contador .section-title {
    vertical-align: middle;
    width: 100%;
    flex-grow: 1;
    color: #0081A4;
    font-size: 30px;
    font-family: "Poppins";
    font-weight: 600;
    padding: 0 15px;
  }
  .area-equipo {
    padding: 15px 0 30px;
    height: calc(100% - 71px);
    min-height: 669px;
  }
  .area-equipo .container {
    padding: 0;
  }
  .area-equipo .container .section-title {
    margin-bottom: 22.5px;
    font-size: 23px;
  }
  .area-equipo .container .frame-imagenes {
    height: 250px;
    width: 250px;
    margin: 15px;
  }
  .area-equipo .container .frame-imagenes .frame-doctores {
    animation: rotation 60s linear infinite;
    transform: rotate(30deg);
  }
  .area-equipo .container .frame-imagenes .frame-doctores .static {
    animation: rotation 60s linear infinite reverse;
    transform: rotate(-30deg);
  }
  .area-equipo .container .frame-imagenes .frame-doctores .static .doc {
    overflow: visible;
  }
  .area-equipo .container .frame-imagenes .frame-doctores .static .doc .nombre-doc {
    left: -20px;
    top: 50px;
    width: 92px;
  }
  .area-equipo .container .frame-imagenes .frame-doctores .static .doc .nombre-doc span {
    width: 90px;
    padding: 0;
    line-height: 1.8;
  }
  .area-equipo .container .frame-imagenes .frame-doctores .static .doc .nombre-doc span p {
    font-size: 7px;
  }
  .area-equipo .container .frame-texto {
    width: 85%;
    margin-top: 48px;
  }
  .area-equipo .container .frame-texto h3 {
    font-size: 15px;
    margin-bottom: 1em;
  }
  .area-equipo .container .frame-texto p {
    font-size: 15px;
  }
  .area-equipo .container .frame-texto .default-btn-2 {
    width: 240px;
    font-size: 12px;
    padding: 10px;
  }
  .area-equipo .container .frame-texto .cifras p {
    text-align: left;
    font-size: 25px;
    margin-bottom: 9px;
  }
  .area-equipo .container .frame-texto .cifras img {
    margin: 0 0 10px 10px;
  }
  .second-facility-area {
    padding: 0;
    height: calc(100% - 71px);
    min-height: 569px;
  }
  .second-facility-area .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .second-facility-area .section-title {
    margin-top: 0;
  }
  .second-facility-area .container .row {
    flex-grow: 0.7;
  }
  .second-facility-area .col-sm-6 {
    margin: 0;
    width: 50%;
    align-self: center;
  }
  .second-facility-area .sector-boton {
    text-align: center;
    margin: unset;
    display: flex;
    justify-content: center;
  }
  .second-facility-area .default-btn-3 {
    font-size: 12px;
    padding: 10px;
    width: 175px;
    height: fit-content;
    align-self: center;
  }
  .about-area {
    padding-top: 0;
  }
  .about-area .franja {
    margin: 0 0 40px;
  }
  .about-area .franja img {
    display: none;
  }
  .about-area .franja .bloque {
    width: 100%;
  }
  .about-area .franja .bloque.bloque-1 {
    background: linear-gradient(to right, #25245e 0%, #0081A4 100%);
  }
  .about-area .franja .bloque.bloque-3 {
    display: none;
  }
  .about-area .franja .bloque.bloque-4 {
    background: linear-gradient(to left, #25245e 0%, #0081A4 100%);
    width: 100% !important;
  }
  .about-area .about-img .shape-1 {
    display: none;
  }
  .about-area .about-img .shape-2 {
    display: none;
  }
  .about-area .about-img .shape-3 {
    display: none;
  }
  .about-area .about-content {
    margin-left: 0;
    margin-top: 30px;
  }
  .about-area .about-content h2 {
    font-size: 25px;
  }
  .about-area .about-content .default-btn {
    margin-top: 30px;
  }
  .doctors-area-two .section-title h2 {
    margin-bottom: 30px;
  }
  .single-services {
    padding: 6px;
    width: 45%;
    margin: 1.5% 2.5%;
    height: 230px
  }
  .single-services::before {
    display: none;
  }
  .single-services img {
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
  }
  .single-services h3 {
    font-size: 14px;
  }
  .single-services p {
    font-size: 12px;
  }
  .doctors-area .owl-next {
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-30px);
  }
  .doctors-area .owl-prev {
    left: 5px;
    top: 50%;
    -webkit-transform: translateY(-30px);
  }
  .single-doctor {
    padding: 20px;
  }
  .doctors-area .owl-next {
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-30px);
  }
  .doctors-area .owl-prev {
    left: 5px;
    top: 50%;
    -webkit-transform: translateY(-30px);
  }
  .services-area {
    padding: 30px 0;
  }
  .services-area.bg {
    padding: 30px 0;
    height: calc(100% - 71px);
    min-height: 567px;
  }
  .services-area h6 {
    font-size: 16px;
  }
  .services-area .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .services-area .container .row {
    margin-top: 0 !important;
    justify-content: center;
    flex-grow: 1;
  }
  .services-area .container .row .col-sm-4 {
    width: 50%;
    margin-top: auto;
  }
  .services-area .second-facility-item img {
    height: 50px;
    width: 50px;
    margin-bottom: 9px;
  }
  .services-area .bordeish {
    height: 195px;
    margin-bottom: 10px;
  }
  .services-area .bordeish .second-facility-item {
    height: 100%;
  }
  .services-area .bordeish .second-facility-item h3 {
    font-size: 12px;
  }
  .services-area .bordeish .second-facility-item p {
    font-size: 10px;
    margin-bottom: 8px;
  }
  .our-work-area {
    height: calc(100% - 71px);
    min-height: 460px;
    padding: 30px 0 10px;
  }
  .our-work-area .shape {
    display: none;
  }
  .our-work-area .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .our-work-area .section-title {
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  .our-work-area .section-title p {
    font-size: 13px;
    margin-bottom: 0;
  }
  .our-work-area b {
    font-weight: 600;
  }
  .our-work-area a {
    font-weight: 700;
  }
  .our-work-area .owl-dots {
    margin-top: 0;
  }
  .single-work .work-title {
    max-width: 265px;
  }
  .single-work {
    max-width: 100% !important;
    height: 143px;
  }
  .single-work img {
    max-height: 66% !important;
  }
  .single-counter h2 {
    font-size: 30px;
  }
  .single-counter p {
    font-size: 15px;
  }
  .appointment-area {
    height: 100
  }
  .appointment-area .container {
    padding-right: unset;
  }
  .appointment-here-form h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .appointment-here-form {
    padding: 30px;
  }
  .appointment-here-form .shape {
    display: none;
  }
  .appointment-here-form .contact-form .col-sm-6 {
    width: 50%;
  }
  .appointment-here-form label {
    font-size: 12px;
  }
  .appointment-here-form .form-group .form-control {
    font-size: 0.7rem;
    height: 38px;
  }
  .appointment-here-form .form-control.textarea-hight {
    height: 38px;
    margin-bottom: 25px;
  }
  .appointment-here-form .form-group {
    margin-bottom: 16px;
  }
  .appointment-here-form .form-group .help-block ul li {
    font-size: 9px;
    top: 38px;
  }
  .appointment-here-form .default-btn-2 {
    margin: 0 auto;
    font-size: 12px;
    padding: 10px;
    font-weight: 600;
    width: 150px;
  }
  .appointment-area .mapa {
    height: 100px;
  }
  .area-medios {
    padding: 30px 0 0;
  }
  .area-medios .section-title {
    margin-bottom: 0;
  }
  .single-client {
    padding: 14px;
    margin: 10px 0 0 0;
    height: 125px;
  }
  .single-client p {
    font-size: 12px;
    margin-bottom: 0.4rem;
  }
  .single-client h3 {
    font-size: 12px;
  }
  .single-client ul {
    margin-bottom: 6px;
  }
  .single-client ul li {
    margin: 0 3px 0 0;
  }
  .single-blog .blog-content {
    padding: 20px;
  }
  .subscribe-area {
    text-align: center;
  }
  .subscribe-area h2 {
    font-size: 25px;
  }
  .subscribe-area p {
    font-weight: 500;
    margin-bottom: 30px;
  }
  .subscribe-area .newsletter-form .default-btn {
    position: unset;
    margin: 30px auto 0;
    height: 50px;
  }
  .subscribe-area .newsletter-form .default-btn::before {
    display: none;
  }
  .subscribe-area .newsletter-form .default-btn::after {
    display: none;
  }
  .subscribe-area .newsletter-form .form-control {
    height: 50px;
  }
  .single-widget h3 {
    margin: 0 0 15px;
  }
  .single-widget.open-time ul {
    padding: 0px;
    width: 32%;
    margin: 0 auto;
    vertical-align: top;
    line-height: 0.8;
  }
  .single-widget.open-time ul.mt-0 {
    margin-top: 12px !important;
  }
  .single-widget.open-time ul li span {
    font-size: 10px;
  }
  .single-widget.contact {
    text-align: center;
  }
  .single-widget.contact i {
    margin-left: -25px;
  }
  .single-widget.contact ul li {
    margin-bottom: 1em;
  }
  .go-top.active {
    top: 85%;
  }
  .client-area.c-bg {
    padding-bottom: 20px;
  }
  .client-area {
    height: calc(100% - 71px);
    min-height: 489px;
  }
  .client-area .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }
  .client-area .section-title {
    margin: 0 auto;
  }
  .client-area .section-title h2 {
    font-size: 25px;
    margin-bottom: 0;
  }
  .client-area .section-title p {
    font-size: 16px;
  }
  .client-area .wrap-video-area {
    margin-bottom: 0;
  }
  .client-area .wrap-video-area .boton-video {
    height: 150px;
    width: 150px;
    margin: 20px 0 0;
  }
  .client-area .wrap-video-area .testimonio {
    margin: 10px 0 0 15px;
    width: 50%;
  }
  .client-area .wrap-video-area .testimonio .desarrollo {
    font-size: 13px;
    line-height: 1.6;
  }
  .client-area .wrap-video-area .testimonio .autor {
    margin-top: 5px;
    font-size: 20px;
  }
  .client-area .sector-boton {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .client-area .default-btn-3 {
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    width: 240px;
    margin: 0;
  }
  .mt-100 {
    margin-top: 0;
  }
  .make-appointment-area .make-appointment-content h2 {
    margin-bottom: 18px;
    font-size: 24px;
  }
  .make-appointment-area .contact-form {
    padding: 20px;
  }
  .contact-img {
    margin-top: 30px;
  }
  .main-contact-area .contact-form .default-btn {
    float: unset;
    margin-top: 15px;
    display: table;
    margin: 20px auto 0;
  }
  .main-contact-area .contact-form .contact-num {
    text-align: center;
  }
  .faq-img {
    margin-bottom: 30px;
  }
  .faq-area {
    padding-top: 110px;
  }
  .about-area.about-page {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-img.two {
    margin-top: 30px;
  }
  .page-title-area {
    padding-top: 122px;
    padding-bottom: 26px;
    margin-top: 0;
  }
  .page-title-area .page-title-content h2 {
    font-size: 30px;
  }
  .page-title-area .shape-1 {
    top: 60px;
    right: 0;
    max-width: 120px;
  }
  .page-title-area .shape-2 {
    bottom: 0;
    left: 0;
    max-width: 120px;
  }
  .page-title-area .shape-3 {
    bottom: 0;
    left: 0;
    max-width: 120px;
  }
  .page-title-area .shape-4 {
    top: 60px;
    right: 0;
    max-width: 120px;
  }
  .main-covid {
    margin-top: 71px;
  }
  .main-covid .text-container b {
    font-size: 13px;
  }
  .main-covid .text-container p {
    font-size: 11px;
  }
  .area-banner-principal {
    height: calc(100% - 171px);
    min-height: 473px;
  }
  .area-banner-principal .first-facility-area {
    display: none;
  }
  .main-banner-area .banner-text {
    position: relative;
    max-width: 100%;
  }
  .main-banner-area .slide.slide-1 {
    background-position: 56% 50%;
    background-size: cover;
    background-image: url(../img/home-one/fondo1-mobile.jpg);
  }
  .main-banner-area .slide.slide-1 .banner-text {
    bottom: unset;
    top: 50%;
    left: 30%;
    width: 48%;
    text-align: left;
    transform: translate(-50%, -50%);
  }
  .main-banner-area .slide.slide-1 .banner-text p {
    font-size: 9px;
  }
  .main-banner-area .slide.slide-2 {
    background-position: 57% 50%;
    background-image: url(../img/home-one/fondo2-mobile.jpg);
  }
  .main-banner-area .slide.slide-2 .banner-text {
    bottom: unset;
    top: 30%;
    left: 6%;
    width: 60%;
    transform: translateY(-50%);
    text-align: left;
  }
  .main-banner-area .slide.slide-3 .banner-text {
    bottom: unset;
    top: 31%;
    left: 50%;
    transform: translate(-50%,50%);
  }
  .main-banner-area .slide.slide-3 h1 {
    font-size: 23px;
  }
  .main-banner-area .slide.slide-3 p {
    font-size: 14px;
  }
  .main-banner-area .slide.slide-3 .banner-text .default-btn-3 {
    padding: 5px;
  }
  .main-banner-area .slide.slide-3 .banner-text .default-btn-3 a {
    font-size: 9px;
    margin-bottom: 2px;
  }
  .main-banner-area .slide.slide-4 .banner-text {
    bottom: unset;
    top: -50%;
    left: 50%;
    transform: translate(-50%,50%);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 310px;
    padding: 15px 0;
  }
  .main-banner-area .slide.slide-4 {
    background-position: 62% 50%;
  }
  .main-banner-area .slide.slide-4::before {
    content: close-quote;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 210px;
    background: linear-gradient(to top, #FFF 0%, rgb(0,0,0,0) 100%);
  }
  .main-banner-area .slide.slide-4 .banner-text h1 {
    font-size: 26px;
  }
  .main-banner-area .slide.slide-4 .banner-text .fondo-blanco {
    background-color: unset;
    opacity: 1;
    position: relative
  }
  .main-banner-area .slide.slide-4 .banner-text .fondo-blanco::before {
    content: close-quote;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: 0.5;
    z-index: -1;
  }
  .main-banner-area .slide.slide-4 .banner-text .fondo-blanco p {
    font-size: 11px;
  }
  .main-banner-area .slide.slide-4 .banner-text p {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 11px;
  }
  .main-banner-area .slide.slide-4 .banner-text .logos {
    height: 2.3em;
    justify-content: space-around;
  }
  .main-banner-area .slide.slide-5 .banner-text {
    bottom: unset;
    top: -50%;
    left: 50%;
    transform: translate(-50%,50%);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 310px;
    padding: 15px 0;
  }
  .main-banner-area .slide.slide-5 {
    background-position: 71% 50%;
  }
  .main-banner-area .slide.slide-5::before {
    content: close-quote;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 210px;
    background: linear-gradient(to top, #FFF 0%, rgb(0,0,0,0) 100%);
  }
  .main-banner-area .slide.slide-5 .banner-text h1 {
    font-size: 32px;
  }
  .main-banner-area .slide.slide-5 .banner-text .fondo-blanco {
    background-color: unset;
    opacity: 1;
    position: relative
  }
  .main-banner-area .slide.slide-5 .banner-text .fondo-blanco::before {
    content: close-quote;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3BC1CD;
    opacity: 0.5;
    z-index: -1;
  }
  .main-banner-area .slide.slide-5 .banner-text .fondo-blanco p {
    font-size: 11px;
  }
  .main-banner-area .slide.slide-5 .banner-text p {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 11px;
  }
  .main-banner-area .slide.slide-5 .banner-text .logos {
    height: 2.3em;
    justify-content: space-around;
    width: 360px;
  }
  .main-banner-area .slide.slide-6 .banner-text {
    bottom: unset;
    top: -50%;
    left: 50%;
    transform: translate(-50%,50%);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 310px;
    padding: 15px 0;
  }
  .main-banner-area .slide.slide-6 {
    background-position: 73% 100%;
    background-size: 397%;
  }
  .main-banner-area .slide.slide-6::before {
    content: close-quote;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 280px;
    background: linear-gradient(to top, #FFF 0%, rgb(0,0,0,0) 100%);
  }
  .main-banner-area .slide.slide-6 .banner-text h1 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .main-banner-area .slide.slide-6 .banner-text .fondo-blanco p {
    font-size: 11px;
  }
  .main-banner-area .slide.slide-6 .banner-text p {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 11px;
  }
  .main-banner-area .slide.slide-6 .banner-text .logos {
    height: 2.3em;
    justify-content: space-around;
    width: 360px;
  }
  .main-banner-area .banner-text span {
    font-size: 14px;
  }
  .main-banner-area .banner-text h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .main-banner-area .banner-text p {
    font-size: 13px;
    font-weight: unset;
    margin-bottom: 15px;
  }
  .main-banner-area .banner-text .default-btn-2 {
    height: auto;
    width: 175px;
    border-radius: 20px;
    padding: 4px;
  }
  .main-banner-area .banner-text .default-btn-2 a {
    font-size: 9px;
    margin-top: 0;
    margin-bottom: 3px;
    vertical-align: middle;
  }
  .main-banner-area .banner-text .default-btn-3 {
    height: auto;
    width: 175px;
    border-radius: 20px;
    padding: 3px;
  }
  .main-banner-area .banner-text .default-btn-3 a {
    font-size: 9px;
    vertical-align: middle;
    margin-bottom: 3px;
  }
  .main-banner-area .banner-text .default-btn {
    height: auto;
    width: 175px;
    border-radius: 20px;
    padding: 4px;
  }
  .main-banner-area .banner-text .default-btn a {
    font-size: 9px;
    margin-bottom: 3px;
    vertical-align: middle;
  }
  .main-banner-area .active {
    margin-top: 10px;
    margin-left: 10px;
  }
  .banner-banco-estado {
    height: 50px;
  }
  .banner-banco-estado .celda .contenido .texto {
    width: unset;
  }
  .banner-banco-estado .celda .contenido .texto p {
    font-size: 14px;
    margin-bottom: 0;
    margin-right: 13px;
  }
  .banner-banco-estado .celda .contenido a {
    height: unset;
    width: 150px;
  }
  .footer-script {
    height: calc(100% - 103.4px);
    min-height: 550px;
  }
  .footer-top-area {
    padding-top: 30px;
  }
  .footer-top-area.f-bg {
    height: 100%;
  }
  .footer-top-area .container {
    height: 100%;
  }
  .footer-top-area .container .row {
    height: 100%;
  }
  .footer-top-area .col-md-6 {
    margin: auto !important;
    max-width: initial !important;
  }
  .footer-top-area .single-widget img {
    margin-bottom: 0;
  }
  .footer-top-area .single-widget h3{
    width: 100%;
  }
  .footer-bottom-area {
    padding: 5px 0;
  }
  .client-area .single-client.mr-0.ml-0 {
    margin-bottom: 30px;
  }
  .page-navigation-area {
    margin: 0px auto 0;
  }
  .faq-contact-area .contact-wrap {
    padding: 20px;
  }
  .user-area-all-style .contact-form-action {
    padding: 20px;
  }
  .user-area-all-style .contact-form-action form .default-btn {
    width: 100%;
  }
  .recover-password-area .contact-form-action .form-heading h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .recover-password-area .contact-form-action .now-register {
    float: unset;
  }
  .services-page-one {
    margin-top: 50px !important;
  }
  .services-page-one::before {
    display: none;
  }
  .services-page-one::after {
    display: none;
  }
  .first-facility-area.mt-0.services-page-one {
    margin-top: 0 !important;
    margin-bottom: 50px;
  }
  .services-details-area img {
    width: 100%;
  }
  .services-details-area .services-img {
    margin-bottom: 30px;
  }
  .services-item-wrap.owl-carousel.owl-theme.owl-loaded.owl-drag {
    margin-bottom: 30px;
  }
  .services-details-area .scrives-item-3 .share {
    float: left;
    margin-top: 20px;
  }
  .services-details-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .services-details-text h2 {
    font-size: 25px;
  }
  .area-pacientes {
    margin-top: 71px;
  }
  .area-pacientes .franja {
    flex-direction: column;
    align-items: center;
  }
  .area-pacientes .bloque {
    text-align: center !important;
  }
  .area-pacientes .bloque.bloque-1 {
    width: 100%;
    background: linear-gradient(to right, #0081A4 0%, #3BC1CD 100%);
  }
  .area-pacientes .bloque.bloque-2 {
    width: 100%;
    background: linear-gradient(to right, #00756A 0%, #00AF9A 100%);
  }
  .area-pacientes .bloque.bloque-3 {
    display: none;
  }
  .area-pacientes .bloque.bloque-4 {
    width: 100%;
    background: linear-gradient(to right, #093668 0%, #0081A4 100%);
  }
  .area-pacientes .boton-video {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    position: relative !important;
    left: unset !important;
    right: unset !important;
  }
  .area-pacientes .testimonio {
    width: unset;
    margin: 20px 0;
  }
  .area-pacientes .testimonio .desarrollo {
    font-size: 20px;
  }
  .area-pacientes .container.comentarios {
    margin-top: 20px;
  }
  .area-pacientes .container.comentarios .col-md-6 {
    width: 50%;
    margin-top: 20px;
    visibility: visible !important;
  }
  .area-pacientes .single-client {
    margin: 0;
  }
  .doctors-sidebar .availability {
    padding: 20px;
  }
  .doctors-detailss .doctors-history {
    margin-top: 30px;
    padding: 20px;
  }
  .doctors-detailss .doctors-history h2 {
    font-size: 25px;
  }
  .doctors-detailss .doctors-history span {
    font-size: 15px;
  }
  .blog-details-area .blog-details-desc .article-content .entry-meta ul li {
    display: block;
    font-size: 15px;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .blog-details-area .blog-details-desc .article-content .entry-meta ul li::before {
    display: none;
  }
  .blog-details-area .blog-details-desc .article-content h3 {
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 22px;
  }
  .blog-details-area .blog-details-desc .article-content p {
    font-size: 15px;
  }
  .blog-details-area .blog-details-desc .article-content .features-list li {
    font-size: 15px;
  }
  .blog-details-area .widget-area .widget {
    padding: 0;
  }
  .blog-details-area blockquote {
    padding: 30px !important;
  }
  .blog-details-area blockquote p {
    font-size: 16px !important;
  }
  .blog-details-area .blockquote {
    padding: 30px !important;
  }
  .blog-details-area .blockquote p {
    font-size: 16px !important;
  }
  .blog-details-area .comments-area {
    padding: 20px;
  }
  .blog-details-area .comments-area .comment-author {
    font-size: 15px;
    margin-bottom: 0.3em;
  }
  .blog-details-area .comments-area .comment-author .avatar {
    left: 0;
    position: relative;
    display: block;
    margin-bottom: 10px;
  }
  .blog-details-area .comments-area .comment-body {
    padding-left: 0;
  }
  .blog-details-area .comments-area .comments-title {
    font-size: 19px;
  }
  .blog-details-area .comments-area .comments-title::before {
    left: -20px;
  }
  .blog-details-area .comments-area .comment-metadata {
    font-size: 12px;
  }
  .blog-details-area .comments-area .comment-respond .comment-reply-title {
    font-size: 19px;
  }
  .blog-details-area .comments-area .comment-respond .comment-reply-title::before {
    left: -20px;
  }
  .blog-details-area .comments-area .comment-respond .comment-form-author {
    width: 100%;
    padding-right: 0;
  }
  .blog-details-area .comments-area .comment-respond .comment-form-email {
    width: 100%;
    padding-left: 0;
  }
  .blog-details-area .comments-area .comment-respond .form-submit input {
    padding: 12px 25px 10px;
  }
  .blog-details-area .comments-area .children {
    margin-left: 0;
  }
  .left-sidebar {
    margin-bottom: 35px;
  }
  .right-sidebar {
    margin-top: 35px;
  }
  .single-contact-info {
    padding: 30px;
  }
  .single-contact-map iframe {
    height: 200px;
  }
  .main-contact-area.contact .contact-form {
    padding: 20px;
  }
  .ours-doctors-area .doctors-content {
    margin-right: 0;
    padding-bottom: 30px;
  }
  .ours-doctors-area .doctors-content h2 {
    font-size: 25px;
  }
  .ours-doctors-area .col-lg-6.pr-0 {
    margin-right: 15px !important;
  }
  .ours-doctors-area .doctors-img {
    height: 300px;
  }
  .main-banner-area-five {
    text-align: center;
    height: 100%;
    padding-top: 115px;
  }
  .main-banner-area-five .container-fluid {
    max-width: 540px;
  }
  .main-banner-area-five .col-lg-5.pr-0 {
    padding-right: 15px !important;
  }
  .main-banner-area-five .banner-text {
    max-width: unset;
    top: 0;
  }
  .main-banner-area-five .banner-text span {
    margin-bottom: 10px;
  }
  .main-banner-area-five .banner-text h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .main-banner-area-five .banner-text p {
    font-size: 15px;
  }
  .main-banner-area-five .banner-img-wrap .banner-img {
    position: unset;
    margin-top: 30px;
  }
  .search-area {
    margin-top: 50px;
  }
  .search-area .top-search-from {
    padding: 20px;
    margin-bottom: 30px;
  }
  .search-area .top-search-from .searchs-wraps .form-control {
    font-size: 15px;
    padding-top: 0;
  }
  .search-area .top-search-from .searchs-wraps .form-control::-webkit-input-placeholder {
    font-size: 15px;
  }
  .search-area .top-search-from .searchs-wraps .form-control:-ms-input-placeholder {
    font-size: 15px;
  }
  .search-area .top-search-from .searchs-wraps .form-control::-ms-input-placeholder {
    font-size: 15px;
  }
  .search-area .top-search-from .searchs-wraps .form-control::placeholder {
    font-size: 15px;
  }
  .search-area .top-search-from .searchs-wraps .search-btn {
    top: 9px;
    font-size: 30px;
  }
  .search-area .top-search-from .find-btn {
    margin-top: 16px;
  }
  .main-banner-six {
    text-align: center;
  }
  .main-banner-six .container-fluid {
    max-width: 540px;
  }
  .main-banner-six .main-banner-content .content {
    margin-bottom: 30px;
    max-width: unset;
    margin-top: 115px;
  }
  .main-banner-six .main-banner-content .content h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .main-banner-six .main-banner-content .content p {
    margin-bottom: 0;
  }
  .main-banner-six .col-lg-6.pr-0 {
    padding-right: 15px !important;
  }
  .main-banner-six .banner-image-slider .banner-image {
    height: 500px;
  }
  .main-banner-six .shape {
    display: none;
  }
  .single-best-services .best-services-content {
    padding: 20px;
  }
  .abouts-six {
    padding-top: 0 !important;
  }
  .abouts-six .about-content {
    margin-top: 0;
    margin-bottom: 25px;
  }
  .coming-soon-area .coming-soon-content {
    height: 100%;
  }
  .coming-soon-area .coming-soon-content h1 {
    font-size: 40px;
    line-height: 1.1;
    margin-top: 0;
  }
  .coming-soon-area .coming-soon-content p {
    font-size: 13px;
    margin-top: 15px;
  }
  .coming-soon-area .coming-soon-content #timer {
    margin-top: 20px;
  }
  .coming-soon-area .coming-soon-content #timer div {
    font-size: 40px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .coming-soon-area .coming-soon-content #timer div span {
    font-size: 14px;
    margin-top: -5px;
  }
  .coming-soon-area .coming-soon-content #timer div::before {
    display: none;
  }
  .coming-soon-area .coming-soon-content .newsletter-form {
    margin-top: 35px;
  }
  .coming-soon-area .coming-soon-content .newsletter-form .input-newsletter {
    height: 55px;
    padding-left: 13px;
    font-size: 15px;
  }
  .coming-soon-area .coming-soon-content .newsletter-form button {
    position: relative;
    height: auto;
    padding: 14px 30px;
    font-size: 14px;
    margin-top: 15px;
  }
  .error-area {
    padding: 70px 0;
  }
  .error-area .error-content-wrap p {
    margin: 15px 0 20px;
  }
  .error-area .error-content-wrap h1 {
    font-size: 100px;
  }
  .symptoms-img {
    position: relative;
    bottom: -20px;
  }
  .main-contact-area #msgSubmit {
    position: unset;
    text-align: center;
    margin-top: 10px;
  }
  .about-bg-1 {
    height: 300px;
  }
  .about-img-2 {
    height: 300px;
  }
  .hero-slider-area-seven .slider-item::after {
    -webkit-clip-path: unset;
            clip-path: unset;
  }
  .second-facility-area.seven .p-0 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .second-facility-area.seven .shape {
    display: none;
  }
  .about-area-seven .about-content h2 {
    font-size: 25px;
  }
  .about-area-seven .about-content ul {
    margin-left: 0;
    display: block;
  }
  .about-area-seven .about-content .ml-0 {
    margin-bottom: 20px;
  }
  .about-area-seven .about-img {
    margin-top: 30px;
  }
  .counter-area .shape {
    display: none;
  }
  .doctors-area-two .wrap-medicos {
    max-width: unset !important;
  }
  .doctors-area-two .wrap-medicos .doc.grande {
    max-width: unset;
    margin: 20px;
    width: auto;
  }
  .doctors-area-two .wrap-medicos .doc.grande .cuadro-blanco {
    height: calc(100% - 104px);
  }
  .doctors-area-two .wrap-medicos .doc.grande .contenido .frame-img {
    height: 144px;
    width: 144px;
  }
  .doctors-area-two .wrap-medicos .doc.grande .contenido .frame-img img {
    height: 140px;
    width: 140px;
  }
  .doctors-area-two .wrap-medicos .doc.grande .contenido .desarrollo {
    height: unset;
  }
  .doctors-area-two .wrap-medicos .doc.grande .contenido .cargo {
    height: unset;
    width: 100%;
    text-align: center;
  }
  .doctors-area-two .wrap-medicos .doc {
    width: 45%;
    margin: 2.5%;
    
  }
  .doctors-area-two .wrap-medicos .doc .cuadro-blanco {
    height: calc(100% - 77.5px);
  }
  .doctors-area-two .wrap-medicos .doc .contenido {
    padding: 20px 10px;
  }
  .doctors-area-two .wrap-medicos .doc .contenido .frame-img {
    height: 104px;
    width: 104px;
    margin-bottom: 9px;
  }
  .doctors-area-two .wrap-medicos .doc .contenido .frame-img img {
    height: 100px;
    width: 100px;
  }
  .doctors-area-two .wrap-medicos .doc .contenido b {
    font-size: 12px;
  }
  .doctors-area-two .wrap-medicos .doc .contenido ul {
    font-size: 12px;
  }
  .appointment-area-seven .shape {
    display: none;
  }
  .appointment-area-seven .appointment-here-form {
    padding: 20px;
  }
  .blog-area .shape {
    display: none;
  }
  .hero-slider-area-eight .slider-item {
    height: 100% !important;
  }
  .hero-slider-area-eight .slider-item .slider-text {
    padding: 20px;
    margin-top: 40px;
  }
  .second-facility-area.eight {
    padding-top: 50px;
  }
  .second-facility-area.eight .second-facility-item {
    text-align: center;
  }
  .second-facility-area.eight .p-0 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .pricing-area {
    padding: 30px 0;
  }
  .pricing-area .section-title img {
    width: 56%;
    margin-left: 12px;
  }
  .pricing-area th:first-child img {
    width: 240px;
  }
  .pricing-area .plan {
    margin: 10px;
    font-family: "Poppins";
  }
  .pricing-area .plan p.descripcion {
    text-align: center;
    width: 135px;
    color: #0081A4;
    margin-top: 10px;
    font-size: 12px;
  }
  .pricing-area .wrap-planes {
    padding: 0 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pricing-area .plan .header {
    width: 135px;
  }
  .pricing-area .plan p.descripcion b {
    font-size: 20px;
  }
  .pricing-area .header {
    width: 155px;
  }
  .pricing-area .header .bloque-1 {
    padding: 7px;
  }
  .pricing-area .header .bloque-2 {
    padding: 8px;
  }
  .pricing-area .contenido-planes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Poppins";
  }
  .pricing-area .contenido-planes p {
    font-size: 20px;
    color: #0081A4;
    font-weight: 600;
    width: 100%;
    text-align: center;
  }
  .pricing-area .contenido-planes ul {
    color: #3BC1CD;
    text-align: center;
  }
  .pricing-area .col-lg-6 {
    margin-top: 20px !important;
  }
  .pricing-area .default-btn-3 {
    font-size: 12px;
    padding: 10px;
    font-weight: 600;
    width: 250px;
  }
  .convenios-area .categoria-convenios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: solid #dbdbdb 1px;
    padding: 50px 0;
  }
  .convenios-area .categoria-convenios h5 {
    font-size: 21px;
    color: #0081A4;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .convenios-area .wrap-convenios {
    text-align: center;
    display: inline-block;
    max-width: initial !important;
  }
  .convenios-area .wrap-convenios .convenio {
    margin: 30px 10px;
  }
  .about-img-1 {
    height: 300px;
    margin-top: 30px;
  }
  .about-area-seven .mb-30 {
    margin-bottom: 0 !important;
  }
  .single-pricing h1 {
    font-size: 35px;
  }
  .appointment-here-form .default-btn {
    margin: 0px auto 0;
  }
  .hero-slider-area-eight .owl-prev {
    top: 90%;
  }
  .hero-slider-area-eight .owl-next {
    top: 90%;
  }
  .only-pc {
    display: none !important;
  }
  .mean-container .mean-bar {
    background-color: #093668;
    -webkit-box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.05);
    height: 70px;
  }
  .mean-container a.logo img{
    max-height: 42px;
  }
  .mean-container a.default-btn-3 {
    z-index: 999;
    position: absolute;
    height: 26px;
    padding: 7px;
    border-radius: 1000px;
    transform: translate(50%, -50%);
    top: 34px;
    right: 64%;
    font-size: 12px;
  }
  .mean-container a.default-btn-2 {
    z-index: 999;
    position: absolute;
    height: 26px;
    padding: 7px;
    border-radius: 1000px;
    transform: translate(50%, -50%);
    top: 34px;
    right: 36%;
    font-size: 12px;
  }
  .mean-container a.meanmenu-reveal {
    padding: 24px 15px 0 0;
    color: #ffffff;
  }
  .mean-container a.meanmenu-reveal span {
    background-color: #ffffff;
    position: relative;
    top: 8px;
    margin-top: -5px;
  }
  .mobile-nav .logo {
    top: 14px;
  }
  .mobile-nav.mean-container .mean-nav {
    margin-top: 70px;
  }
  .mobile-nav.mean-container .mean-nav ul li a:hover {
    color: #3BC1CD;
  }
  .mobile-nav.mean-container .mean-nav ul li a.active {
    color: #3BC1CD;
  }
  .nav-area .others-option {
    display: none;
  }
  .fixed-top {
    position: unset;
  }
  .mobile-nav nav .navbar-nav {
    height: 325px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-area .top-header-area .header-content-right {
    float: right;
  }
  .main-banner-area .container-fluid {
    max-width: 540px;
    margin: auto;
  }
  .second-facility-item {
    padding: 15px;
  }
  .single-work .work-title {
    max-width: 325px;
  }
  .emergency-content ul li {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .subscribe-area .newsletter-form .default-btn {
    position: absolute;
    margin: unset;
    height: 50px;
  }
  .default-btn.active {
    margin-left: 30px;
  }
  .hero-slider-area .owl-theme .owl-dots {
    bottom: 16%;
  }
  .about-area.four .container-fluid {
    max-width: 540px;
  }
  .ours-doctors-area .container-fluid {
    max-width: 540px;
  }
  .counter-area.two .single-counter {
    padding: 50px 25px;
  }
  .main-contact-area .contact-form .default-btn {
    float: right;
    margin-top: 20px;
  }
  .main-contact-area .contact-form .contact-num {
    text-align: left;
  }
  .blog-details-area .blog-details-desc .article-content .entry-meta ul li {
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
  }
  .coming-soon-area .coming-soon-content h1 {
    font-size: 55px;
  }
  .coming-soon-area .coming-soon-content #timer div {
    font-size: 45px;
  }
  .coming-soon-area .coming-soon-content #timer div::before {
    font-size: 65px;
    right: -49px;
  }
  .main-contact-area #msgSubmit {
    position: absolute;
  }
  .about-area-seven .about-content ul {
    margin-left: 30px;
    display: inline-block;
  }
  .about-area-seven .about-content .ml-0 {
    margin-bottom: 0;
  }
  .single-doctors-two .doctor-img .doctors-link li a {
    margin: 0 2px;
  }
  .second-facility-area.eight .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 1221px) {
  .only-cel {
    display: none !important;
  }
}
/*# sourceMappingURL=responsive.css.map */